<h1 style="margin-top: 50px;">Login</h1>

<div class="container contenedor-formulario">
    <!-- Botón para login con Google -->
    <div class="login-oauth">
        <button (click)="logueoOauth()" class="btn-oauth">Iniciar sesión con Google</button>
    </div>

    <!-- Formulario de login manual -->
    <div class="login-form">
        <input type="text" placeholder="Ingrese el nombre de usuario" [(ngModel)]="nombreUsuario" class="input-field" />

        <!-- Campo de contraseña con opción para mostrar/ocultar -->
        <div class="password-container">
            <input [type]="mostrarContrasenia ? 'text' : 'password'" placeholder="Ingrese la contraseña"
                [(ngModel)]="contrasenia" class="input-field" />
        </div>
        <label>
            <input  type="checkbox" (change)="mostrarContrasenia = !mostrarContrasenia" />
            Mostrar contraseña
        </label>

        <!-- Botón de login -->
        <input type="submit" value="Ingresar" class="btn btn-primary"
            [disabled]="nombreUsuario.trim() === '' || contrasenia.trim() === ''"
            (click)="loguin(nombreUsuario, contrasenia)" />

        <!-- Enlaces para registro y recuperar contraseña -->
        <div class="links">
            <a routerLink="/registro">¿No tienes cuenta? Regístrate aquí</a>
            <a routerLink="/recuperarContrasenia">¿Olvidaste tu contraseña?</a>
        </div>
    </div>
</div>