/* Estilos generales */

h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    
  }
  
  .table th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .table td {
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilo para los enlaces de las carreras */
  a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #0056b3;
  }
  
  /* Botón para ver universidad */
  .btn-link {
    padding: 0;
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  /* Paginación */
  .btn {
    padding: 8px 16px;
    margin: 5px;
    font-size: 14px;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: white;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn:hover {
    background-color: #007bff;
    color: white;
  }
  
  

  .btn:disabled {
    background-color: #f8f9fa;
    color: #6c757d;
    cursor: not-allowed;
  }
  
  /* Estilo para los divs centrados */
  .text-center {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* Margen adicional entre el contenido y la paginación */
  .mt-4 {
    margin-top: 20px;
  }
  